#
# ansible
#
hosts
host_vars/

#
# eclipse
#
.project
.includepath

#
# misc
#
nohup.out

#
# perl
#
pm_to_blib
blib/
MYMETA.*
MANIFEST
Makefile.old
cover_db

#
# wildcard file types
#
*.swp
*.gz
*.ERR
*.retry
*.bak
*.zip


